<p>
  reservas-listado works!
</p>
<a [routerLink]="['./',10]">Ir a detalle</a> <!-- ruta relativa-->
<a [routerLink]="['/login']">Ir a login</a>
<!--ruta raiz-->

<hr>
<div *ngFor="let item of api.getAll()">{{item.id}}-{{item.name}}</div>