<div class="container">
  <!--selector de ideomas-->
  <div style="float:right">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="en">Ingles</option>
      <option value="fr">Frances</option>
    </select>
  </div>


  <div class="page-header">
    <div class="container">
      <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/destino']">Destino</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>


  <div class="styleContainer">
    <h1 class="display-4">
      {{title}}  <b [innerHtml]=" 'Hola' | translate "></b>
    </h1>
  </div>


  <div class="row">
  </div>
  <div class="container">
    <h3>
      <b [innerHtml]=" 'Listado' | translate "></b>
    </h3>
    <router-outlet></router-outlet>
  </div>
</div>

<hr class="mb-5">
Fecha: {{ time | async }}