<div class="card-destination card-content" 
    [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
      <h4>{{posicion}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h4>{{destino.nombre}}</h4>
    <ul>
      <li *ngFor="let ser of destino.servicios">
        <span [ngSwitch]="ser">
          <i *ngSwitchCase="'desayunos'" style="color: royalblue;">{{ser}}</i>
          <i *ngSwitchDefault>{{ser}}</i>
        </span>
      </li>
    </ul>
    <p>Servicios disponibles:</p>
    <div>
      <a href="#" (click)="voteUp() " appTranckearClick data-trackear-tags="destino_vote_up lista_destino_item"><i
          class="material-icons md-18">thumb_up</i></a>
      &nbsp;
      <a href="#" (click)="voteDown()"appTranckearClick data-trackear-tags="destino_vote_down lista_destino_item"><i class="material-icons md-18">thumb_down</i></a>
      &nbsp;
      Votos: {{destino.votes}}
      <a href="#" (click)="resetVote()" >Reiniciar votos</a>
      <hr>      
    </div>
    <a href="#" class="btn-card" (click)="ir() " appTranckearClick data-trackear-tags="destino_elegido_preferido lista_destino_item">Ir!!</a>
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>{{PREFERIDO}}</span>
      <a [routerLink]="['/destino',posicion]">Ver Detalle</a>
    </span>
  </div>
</div>