$yellow:#fafc77;
$red:#e60000;
$green:#93e6a9;
$green2:#1b552a;

@mixin margenesTop($top) {
    margin-top: $top;
}
@mixin margenesbuttom($bottom) {
    margin-bottom:$bottom;
}
@mixin margenestwo($top,$bottom) {
    margin-top: $top;
    margin-bottom:$bottom;
}

@mixin groso($width) {
    border: $width solid #ddd;
    &:hover{
        border-color: #FFFF;
    }
}


.jumbotron {
    background-color: $yellow;
    color: black;    
    @include margenestwo(50px,0px);
}
footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;    
    @include margenestwo(10px,0px);
}
.card-hotel{
    flex: 1 200px;
    @include margenesTop(10px);
}
.btn-reserva{
    width: 100%;   
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 5px;
}

.tab-content{
    padding-top: 10px;
}
.down{
    margin-left: 10px
}

.pruebanpmwatch{
    color:$red;    
}

.pruebanpmwatchgrunt{
    color:$red;    
}