<p>
  vuelos-component works!
</p>
<div class="navLinks">
  <a [routerLink]="['./main']">main</a>|
  <a [routerLink]="['./mas-info']">mas información</a>|
  <a [routerLink]="['./', 5]">vuelo 5</a>
</div>

<router-outlet></router-outlet>