<div class="card-destination card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
      <h4>{{posicion}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h4>{{destino.nombre}}</h4>
    <ul>
      <li *ngFor="let ser of destino.servicios">
        <span [ngSwitch]="ser">
          <i *ngSwitchCase="'desayunos'" style="color: royalblue;">{{ser}}</i>
          <i *ngSwitchDefault>{{ser}}</i>
        </span>
      </li>
    </ul>
    <p>Servicios disponibles:</p>
    <a href="#" class="btn-card" (click)="ir()">Ir!!</a>
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>{{PREFERIDO}}</span>
      <a [routerLink]="['/destino']">Ver Detalle</a>
    </span>
  </div>
</div>
