<form matInput [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['urlImagen'].value)">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingresar	nombre..."
      [formControl]="fg.controls['nombre']" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let sr of searchResult;" [value]="sr">
        {{sr}}
      </mat-option>
    </mat-autocomplete>
    <!--ul> <li *ngFor="let sr of searchResult;">{{sr}}</li> </ul-->
    <div class="error text-danger" *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido!</div>
    <div class="error text-danger" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido!</div>
    <div class="error text-danger" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre debe tener al menos
      {{minLongNombre}} de largo!</div>

  </div>
  <div class="form-group">
    <label for="ImagenUrl">Imagen Url</label>
    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar	url..."
      [formControl]="fg.controls['urlImagen']">
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>